@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color:rgb(31, 31, 31);
    color: rgb(232, 231, 231);
    align-items: center;
}
.btn-menu{
    background-color: rgb(232, 231, 231);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: none;
}
.btn-menu .bi{
    font-size: 20px;
}
nav a {
    text-decoration: none;
    color: rgb(232, 231, 231);
}
nav{
    display: flex;
    gap: 7vw;
}

@media screen and (max-width: 800px){
    body{
        background-color: blue;
    }
    nav{
        display: none;
    }
    .btn-menu{
        display: block;
    }
}